* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: white;
}

/* Page center */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main layout */
.layout {
  display: flex;
  gap: 80px;
  align-items: center;
}

/* Left promo */
.promo {
  max-width: 400px;
}

.insta-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  z-index: 1000;
}

.promo h1 {
  font-size: 28px;
  line-height: 1.3;
}

.promo span {
  color: rgb(255, 0, 102)
}

.phone {
  margin: 30px auto 0 auto;
  width: 300px;
  display: block;
}

/* Login box */
.login-box {
  width: 360px;
  padding: 30px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgb(221, 221, 221);
}

.login-btn {
  background: rgb(76, 110, 245);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
}

/* OR separator */
.or {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.or::before,
.or::after {
  content: "";
  flex: 1;
  height: 1px;
  background: rgb(221, 221, 221);
}

.or span {
  margin: 0 10px;
  font-size: 14px;
  color: rgb(153, 153, 153);
}

/* Buttons & links */
.fb-btn {
  background: none;
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
}

.forgot {
  display: block;
  margin: 15px 0;
  font-size: 14px;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.signup {
  border-top: 1px solid rgb(221, 221, 221);
  padding-top: 15px;
}

.signup a {
  color: rgb(76, 110, 245);
  text-decoration: none;
}

.meta {
  margin-top: 20px;
  font-size: 12px;
  color: rgb(153, 153, 153);
}
